@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Rubik:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 236 110 44;
    --color-secondary: 43 95 153;
    --font-primary: Rubik, sans-serif;
    --font-secondary: Ubuntu, sans-serif;
    --font-tertiary: "Open Sans", sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: var(--font-primary);
}
